.netflix-footer {
    background-color: #111;
    color: #999;
    padding: 30px 0;
  }
  
  .netflix-footer h4 {
    color: #fff;
    font-size: 18px;
    margin-bottom: 15px;
  }
  
  .netflix-footer ul {
    list-style: none;
    padding-left: 0;
  }
  
  .netflix-footer ul li {
    margin-bottom: 10px;
  }
  
  .netflix-footer ul li a {
    color: #999;
    text-decoration: none;
  }
  
  .netflix-footer ul li a:hover {
    color: #fff;
    text-decoration: underline;
  }
  
  .footer-hr {
    border-color: #666;
  }
  
  .footer-copyright {
    text-align: center;
    font-size: 14px;
    margin-top: 15px;
    color: #666;
  }
  .footer-social-icons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .footer-social-icons a {
    color: #999;
    margin-right: 10px;
    font-size: 20px;
  }
  
  .footer-social-icons a:hover {
    color: #fff;
  }
  
  