.empowering-text {
    height: 84px;
    width: 650px;
    /* font-family: 'Roboto'; */
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #E6FAFF;

}

.Art_club {
    /* font-family: 'Roboto'; */
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 46px;
    text-align: center;
    color: #01A19A;
}

.empowering-text-mobile {
    width: 375px;
    height: 96px;
    /* font-family: 'Roboto'; */
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #E6FAFF;
}

.Art_club_mobile {
    width: 190px;
    height: 32px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #01A19A;
}

.count-bar {
    width: 98%;
    background: linear-gradient(90deg, #312783 0%, #00A19A 100%);
    height: 140px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.count-bar-mobile {
    background: linear-gradient(90deg, #312783 0%, #00A19A 100%);
    height: 208px;
    color: white;
    padding: 20px;
}

.border-end {
    /* width: 5%; */
    /* height: 1px; */
    border: 1px solid #FFFFFF;
    transform: rotate(0deg);
}

.bar_sub_div {
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width: 680px) {
    .about-footer{
        
    }
  }