.mid_header {
    background: linear-gradient(90deg, #312783 0%, #00A19A 100%);
    /* padding-top: 10px; */
    display: flex;
    align-items: center;
    flex-direction: row;
    /* gap: 51px; */
    height: 142px;
    justify-content: space-between;
}

.mid_header_p1 {
    width: 481px;
    height: 72px;


    /* font-family: 'Roboto'; */
    font-style: normal;
    font-weight: "500";
    font-size: 46px;
    line-height: 46px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #FFFFFF;
    padding-left: 30px;

}

.hor_line {
    width: 58px;
    height: 0px;
    display: flex;
    border: 1px solid #FFFFFF;
    transform: rotate(90deg);
    align-self: center;
    /* Inside auto layout */
}

.mid_header_title {
    /* width: 154px;
    height: 10px; */
    /* Body/regular */

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    /* line-height: 16px; */
    /* identical to box height */


    /* Neutral/1 */

    color: #FFFFFF;
}

.mid_header_number {
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: 40px;
    margin: 0
}


/*chatgpt code for help*/
/* .container {
    display: flex;
    position: relative;
    width: 100%;
    height: 100vh;
} */

.container {
    position: relative;
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
    /* background: linear-gradient(180deg, rgba(255, 255, 255, 0.08) 0%, rgba(255, 255, 255, 0.87) 71.87%); */
}

.bg-image {
    width: 100%;
    height: auto;
    margin-bottom: -5px;

}

.card_1{
    position: absolute;
    display: flex;
    justify-content: space-around;
    bottom: 8%;
    /* padding-bottom: 30px; */
    /* top: 70%; */
    /* bottom:20px; */
    /* left: 1%; */
    /* gap: 1px; */
    /* background-color: red; */
    /* background: linear-gradient(180deg, rgba(255, 255, 255, 0.08) 0%, rgba(255, 255, 255, 0.87) 71.87%); */
    width: 100%;
    /* transform: translate(-20%, 20%); */
    /* background-color: white; */
    /* padding: 20px; */
    /* text-align: center; */
    /* width: 300px; */
    /* margin: 20px; */
    /* padding: 30px; */
    height: 251px;
    /* background-color: white; */
    /* box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15); */
}

.background-image {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../Asset/Images/MarketPlace_main.png');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.7;
}

.discount_div {
    position: absolute;
    /* bottom:40%; */
    width: 100%;
    /* height: 150px; */

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* width:100%; */
    width: 23.5%;
    height: 38px;
    /* transform: translate(0%, 150%); */
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(2px);
    object-fit: cover;
}

.discount_div_cate {
    position: absolute;
    margin-top: 110px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 23.5%;
    height: 38px;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(2px);
    object-fit: cover;
}

.discount_tag {
    display: flex;
    align-items: flex-start;
    text-align: center;
    justify-content: center;
    align-self: center;
    margin-left: 10px;
    width: 99px;
    height: 30px;
    background: #FF0000;
    border-radius: 2px;
    color: #FFFFFF;
    border-radius: 2px;
}

.card_div {
    width: 23.5%;
    height: 251px;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);

}

.box_dump {
    background-color: white;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
}

.card_image {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.card_text_div {
    display: flex;
    flex-direction: column;
    margin: 0px;
    /* padding: 0px; */
    padding-left: 10px;
    /* background-color: white; */
    /* box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15); */

}

.body {
    background-image: url('/src//Asset/Images//MarketPlace_main.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    /* z-index: -1; */
}