@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
.bg-custom{
  background: #1F1F1F;
}

.card-container {
  /* z-index: 99; */
  height: max-content;
  width: 20rem;
  position: absolute;
  top: -18vh;
  left: 0;
  border-radius: 0.3rem;
  box-shadow: rgba(0, 0, 0, 0.75) 0px 3px 10px;
  background-color: #181818;
  transition: 0.3s ease-in-out;
}

.card-container .image-video-container {
  position: relative;
  height: 140px;
}

.card-container .image-video-container img {
  width: 100%;
  height: 140px;
  object-fit: cover;
  border-radius: 0.3rem;
  top: 0;
  /* z-index: 4; */
  position: absolute;
}
.disable-pointer-events {
  pointer-events: none;
}
.card-container .image-video-container video {
  width: 100%;
  height: 140px;
  object-fit: cover;
  border-radius: 0.3rem;
  top: 0;
  /* z-index: 5; */
  position: absolute;
}

.card-container .info-container {
  padding: 1rem;
  gap: 0.5rem;
}

/* .card-container .icons .controls {
  display: flex;
  gap: 1rem;
  color: #fff;
} */

.card-container .icons svg {
  font-size: 2rem;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.card-container .icons svg:hover {
  color: #b8b8b8;
}

.card-container .genres ul {
  gap: 1rem;
}

.card-container .genres ul li {
  padding-right: 0.7rem;
}

.card-container .genres ul li:first-of-type {
  list-style-type: none;
}
.modal-overlay {
  position: fixed;
  top: 10%;
  left: 20%;

  bottom: 0;
  /* background-color: rgba(0, 0, 0, 0.5); */
  z-index: 9998;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.modal-content {
  height: 90vh; 
  overflow-y: auto;
  box-shadow: rgba(0, 0, 0, 0.75) 0px 3px 10px;
  transition: opacity 0.3s ease, transform 0.3s ease;

}
.close-icon {
  position: absolute;
  top: 10px;
  right: 22%;
  color: #01A19A;

  font-size: 24px;
  cursor: pointer;
  z-index: 2;
}
.overlays {
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
}

.matching {
  color: #46d369;
  white-space: unset;
  max-width: 300px;
  opacity: 1;
  transition: max-width 0.55s cubic-bezier(0.86, 0, 0.07, 1) 1.65s,
    opacity 0.15s linear 2.2s;
  font-weight: 500;
  font-size: 20px;
  display: inline-block;
  line-height: 1.2;
}
.aging {
  margin-left: 2%;
  white-space: nowrap;
  padding: 1px 4px;
  font-weight: 500;
  color: white;
  border: 1px solid hsla(0, 0%, 100%, 0.4);
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
}
.seasoing {
  color: #fff; /* White color for 2021 6 Seasons */
  font-weight: 400;
  margin-left: 2%;
  font-size: 18px;
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
  line-height: 1.2;
}
.pagging {
  font-size: 16px;
  line-height: 26px;
  color: #fff;
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
}
.Gener {
  color: #777;
  font-size: 14px;
  line-height: 20px;
  margin: 0.5em 0.5em 0.5em 0;
  word-break: break-word;
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
  margintop: "6%";
}
.Genering {
  color: #ddd;
  cursor: pointer;
  margin: 0;
  outline-color: #fff;
  font-size: 14px;
  line-height: 20px;
  margin: 0.5em 0.5em 0.5em 0;
  word-break: break-word;
}
.modal-length{
  width:80%;
}
@media screen and (max-width: 768px) {
  .modal-content {
    /* max-width: 90%; */
    width: 90%;
  }
  .modal-length{
    width:90%;
  }
  .close-icon{
    margin-right: -10%
  }
  
}

.episode-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 2rem;
}

.episode {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  width: 90%;
  background-color: #333;
  border-top: 1px solid #404040;
  box-sizing: inherit;
  min-height: 8em;
  overflow: hidden;
  padding: 1em;
  position: relative;
  letter-spacing: 0 !important;
}

.episode-thumbnail {
  width: 100px;
  height: 100px;
}

.episode-thumbnail img {
  width: 95%;
  height: 60%;
  object-fit: cover;
  border-radius: 4px;
}

.episode-details {
  flex-grow: 1;
}

.episode-details h3 {
  cursor: pointer;
  margin: 0;
  color: #fff;
  font-size: 1em;
  font-weight: 500;
  overflow-wrap: anywhere;
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
}

.episode-details .episode-description {
  font-size: 0.9rem;
  margin-top: 0.5rem;
  color: #d2d2d2;
  cursor: pointer;
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
}
.camillo {
  width: 90%;

  /* Body/medium */

  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  /* identical to box height, or 169% */

  text-align: start;
  margin-top: -10px;

  /* Neutral/7 */

  color: #8c8c8c;
}
.controls {
  display: flex;
  color: #2196cc;
  margintop: -10px;
}

.modal-main-heading {
  width: 100%;

  /* H5/bold */

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  /* identical to box height, or 150% */

  /* Character / Primary(inverse) */

  color: #ffffff;
}
.modal-after-main {
  width: 100%;

  margin-top: -10px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;

  color: #ffffff;
}
.modal-tags {
  display: flex;
  gap: 2%;
}
.tag {
  display: inline-block;
  border: 1px solid #01a19a;
  border-radius: 0;
  background-color: black;
  color: #01a19a;
  padding: 3px 5px;
  margin-right: 5px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 13px;
}
.modal-paragraph {
  width: 90%;
  margin-top: 3%;

  /* Body/regular */

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: justify;

  /* Character / Primary(inverse) */

  color: #ffffff;
}
.modal-rating-location {
  display: flex;
  justify-content: space-between;
  
  align-items: center;
  margin-top: 3%;
}
@media (max-width: 768px) {
  .modal-rating-location  {
    display: flex;
    flex-direction: column;

  }
  .modal-rating{
    margin-left: -18%
  }
  .modal-location{
    margin-left: -20%
  }
  .modal-date{
    margin-right: 50%;
    margin-top : -4%;
  }
  .modal-location-date{
    display: flex;
    flex-direction: column
  }
  .modal-des-img{
    display: flex;
    flex-direction: column

  }
  .row{
    display: flex;
    flex-direction: column
    
  }
}
.modal-rating {
  display: flex;
  align-items: center;
  
}

.star-rating {
  display: flex;
  align-items: center;
}

.star {
  color: yellow;
  font-size: 20px;
}

.filled {
  color: yellow;
}

.modal-rating p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  margin-bottom: 0; /* Add this line to remove extra margin */
}

.modal-location-date {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 3%;
  margin-right: 8%
}

.modal-location,
.modal-date {
  display: flex;
  color: #2196cc;
}

.modal-location p,
.modal-date p {
  margin-left: 5px;
  margin-top: -5px; /* Adjust this value as per your preference */
}

.modal-date {
  margin-left: auto; /* Add this line to push the date to the right side */
}

.modal-description {
  width: 92%;
  

  /* Body/regular */

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: justify;

  /* Character / Primary(inverse) */

  color: #ffffff;
}
.modal-des-img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.modal-des1-img,
.modal-des2-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex-basis: 45%;
  max-width: 400px;
}

.modal-des1-img p,
.modal-des2-img p {
  margin-top: 4%;
  color: #ffffff;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  /* identical to box height */

  text-align: center;
}

/* Custom CSS to make the images responsive */
.modal-des1-img img,
.modal-des2-img img {
  width: 100%;
  height: auto;
}

.review-box h4 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height, or 169% */

  /* Character / Primary(inverse) */

  color: #ffffff;
}
.rating-para {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  text-align: justify;

  /* Character / Primary(inverse) */

  color: #ffffff;

  /* Inside auto layout */

  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
}
.review-heading {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

 /* Character / Primary(inverse) */

  color: #ffffff;
}
