.About_us {
    display: flex;
    background: linear-gradient(90deg, #312783 0%, #00A19A 100%);
    width: 100%;
    height: 132px;
    margin-bottom: -16px;
    padding: 0px;
    align-items: center;
    justify-content: center;
}

.about_main {
    display: flex;
    width: 80%;
    height: 72px;
    justify-content: space-between;
    background: #001426;
    align-items: center;
    color: #FFFFFF;
}

.about_line {
    width: 50%;
    height: 0px;

    /* Character / Primary(inverse) */

    border: 1px solid #FFFFFF;
}
